@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-bg: #FFFFFF;
  --color-secondary-bg: #EBF4FF;
  --color-body-text: #000000;
  --color-btn-primary-bg: #2979EC;
  --color-footer-bg: #0A459E;
  --color-footer-cta-bg: #FFBE3C;

  --shadow-img-marketing: 3px 6px 15px #00000036;

  --font-body: 'Open Sans', sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --breakpoint-xs: 480px;
  /* --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1536px; */

  --text-body-size: 20px;
  --text-btn-size: 15px;
  --text-heading-size-one: 50px;
  --text-heading-size-two: 40px;
  --text-footer-heading-size: 42px;

  --spacing-wider: 3.25rem;
  --spacing-wide: 2.8125rem;
  --spacing-small: 1.5625rem;

}

@layer base {
  body {
    @apply bg-primary-bg  min-h-screen font-body;
  }

  h1 {
    @apply text-heading-size-one;
  }

  h2 {
    @apply text-heading-size-two;
  }

  h3 {
    @apply text-footer-heading-size;
  }

  p {
    @apply text-body-size;
  }

  span {
    @apply font-bold;
  }

  button {
    @apply text-btn-size text-center font-body font-bold uppercase outline-none w-41 h-11 rounded-4xl cursor-pointer;
  }

  /** shared styles */
  .hero, .about, .cta {
    @apply px-5.5;
  }
}

@layer components {
  .container {
    @apply flex flex-col items-center justify-center w-full max-w-screen!;

  }

  /** Hero Section */
  .hero {
    @apply bg-secondary-bg w-full h-164.75;

    /** Header */
    .header-container {
      @apply flex  w-full;
  
      & .header {
        @apply flex items-center justify-between w-full h-30 py-6;
  
        & .logo {
          @apply w-26.5 h-26.5 flex items-center justify-start;
  
          & img {
            @apply w-32 h-32 object-contain;
          }
        }
  
        .contact-us {
          @apply bg-btn-primary-bg text-primary-bg;
        }
      }
    }

    /** Hero Content */
    & .hero-content {
      @apply mt-16;

      & .hero-title {
        @apply text-center leading-wider;
      }
  
      & .hero-body {
        @apply text-center leading-small mt-5;
      }
    }
  }

  /** About Section */
  .about {
    @apply mt-small mb-15.5 w-full text-center flex flex-col gap-6 items-center;

    /** Expertise Section */
    & .expertise {
      @apply flex flex-col gap-6 items-center;

      & img {
        @apply w-83.25 h-59 object-contain;
      }

      & .expertise-details {
        & .expertise-title {
          @apply mb-6 leading-wide;
        }

        & .expertise-body {
          @apply leading-small;
        }
      }
    }

    /** Marketing Team Section */
    & .marketing-team {
      & .marketing-team-details {
        @apply mb-7.5;

        & .marketing-team-title {
          @apply mb-6 leading-wide;
        }

        & .marketing-team-body {
          @apply leading-small;
        }
      }

      & img {
        @apply block bg-transparent bg-center bg-origin-padding bg-no-repeat w-full drop-shadow-(--shadow-img-marketing) pt-7.5;
      }
    }
  }
}